<!DOCTYPE html>
<!-- HOME PAGE -->
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <section>
      <% if (currentUser === undefined) { %>
        <nav class="responsive-img N/A transparent home-nav">
          <ul>
            <li><a href="/"><h5 class="chefs-corner">ChefsCorner</h5></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Chefs</a></li>
            <li><a href="/recipes">Posts</a></li>
          </ul>
          <ul class="right">
            <li><a class="right" href="/sessions/new">Log In</a></li>
            <li><a class="right" href="/users/new">Register</a></li>
          </ul>
        </nav>
      <% } else { %>
        <nav class="responsive-img N/A transparent home-nav">
          <ul>
            <li><a href="/"><h5 class="chefs-corner">ChefsCorner</h5></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Chefs</a></li>
            <li><a href="/recipes">Posts</a></li>
            <li><a href="/recipes/new">Add Post</a></li>
            <li class="right">
              <form action="/sessions?_method=DELETE" method="POST">
                <input class="btn deep-orange lighten-1 round-button hoverable" type="submit" value="Logout"/>
              </form>
            </li>
            <li class="right logged-in-user"><%=currentUser.username%></li>
          </ul>
        </nav>
      <% } %>
    </section>
    <main class="container center-align">
      <section class="home-content">
        <small>Inspired by ChefSteps</small>
        <h2 id="welcome-to-chefscorner">Welcome to ChefsCorner.</h2>
        <h6>We're glad you're here.</h6>
      </section>
      <hr>
      <section class="home-content home-blurb">
        <h4 id="what-is">What is ChefsCorner?</h4>
        <p>We're a community of foodies. We believe in sharing our food adventures. We have fun together! If you're looking for people who share in your similar interest of creating awesome and delicious food, look no further!</p>
      </section>
      <section id="join-now">
        <!-- Image grabbed from : http://mindcakegames.com/community/ -->
        <a href="users/new"><img class="responsive-img" src="http://mindcakegames.com/wp-content/uploads/2016/09/contact-community.png"></a>
      </section>
    </main>
    <footer>
      <p class="center-align" id="footer-p">Project 2 - Created by: WDIR student Lenin Yang</p>
    </footer>
  </body>
</html>
