<!DOCTYPE html>
<!-- ====================== -->
<!-- USERS INDEX PAGE -->
<!-- ====================== -->
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <section>
      <% if (currentUser === undefined) { %>
        <nav class="responsive-img N/A transparent chefs-nav">
          <ul>
            <li><a href="/"><h5 class="chefs-corner">ChefsCorner</h5></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Chefs</a></li>
            <li><a href="/recipes">Recipes</a></li>
          </ul>
          <ul class="right">
            <li><a class="right" href="/sessions/new">Log In</a></li>
            <li><a class="right" href="/users/new">Register</a></li>
          </ul>
        </nav>
      <% } else { %>
        <nav class="responsive-img N/A transparent chefs-nav">
          <ul>
            <li><a href="/"><h5 class="chefs-corner">ChefsCorner</h5></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Chefs</a></li>
            <li><a href="/recipes">Posts</a></li>
            <li><a href="/recipes/new">Add Posts</a></li>
            <li class="right">
              <form action="/sessions?_method=DELETE" method="POST">
                <input class="btn deep-orange lighten-1 round-button hoverable" type="submit" value="Logout"/>
              </form>
            </li>
            <li class="right logged-in-user"><%=currentUser.username%></li>
          </ul>
        </nav>
      <% } %>
    </section>
    <main class="center-align user-index-content">
      <h3>Meet the Chefs</h3>
      <h6 id="user-signup">Sign up to share your culinary adventures!</h6>
      <hr>
      <div class="container collection-container">
        <ul class="collection">
          <% for (var i = 0; i < users.length; i++) { %>

            <li class="collection-item grey lighten-4">
              <img class="chef-hat" src="images/chef_hat_avatar.png" alt="" class="circle">
              <span class="title">Chef: </span>
              <a href="/users/<%=users[i]._id%>"><%=users[i].username%></a>
            </li>
          <% } %>
        </ul>
      </div>
    </main>
  </body>
</html>
